<div class="container">
    <div class="main">
        <div class="header">
            <div class="content-head">
                <h1>
                    SATHAPHON KONGNONKOK
                </h1>
                <h3>
                    BACK-END DEVERLOPER
                </h3>
            </div>
            <div class="content-image">
                <img src="assets/Images/profile.jpg" alt="" width="300px">
            </div>
        </div>
        <div class="content">
            <div class="contact">
                <h3>contact</h3>
                <ul>
                    <li>065-053-6486</li>
                    <li>
                        sathaphon.kongnonkok@gmail.com
                    </li>
                    <li>
                        Soi Sathorn 13, Intersection 6, Yannawa Subdistrict, Sathon District, Bangkok 10120
                    </li>
                </ul>
            </div>
            <div class="skills">
                <h3>skills</h3>
                <ul class="list-skills">
                    <li>
                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg" />
                    </li>
                    <li>
                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg" />
                    </li>
                    <li>
                        <img
                            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg" />
                    </li>
                    <li>
                        <img
                            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-original.svg" />
                    </li>
                    <li>
                        <img
                            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/express/express-original.svg" />
                    </li>
                    <li>
                        <img
                            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original.svg" />
                    </li>
                    <li>
                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mysql/mysql-original.svg" />
                    </li>
                    <li>
                        <img
                            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mongodb/mongodb-original-wordmark.svg" />
                    </li>
                    <li>
                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/react/react-original.svg" />
                    </li>
                    <li>
                        <img
                            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/docker/docker-original.svg" />
                    </li>
                </ul>
            </div>
            <div class="education">
                <h3>education</h3>
                <ul style="list-style-type: none;">
                    <li>
                        <p>
                            University 2020 - Present
                        </p>
                        <ul>
                            <li>Chandrakasem Rajabhat University</li>
                            <li>computer science</li>
                            <li>3.34/4.00 GPA</li>
                        </ul>
                    </li>
                    <li>
                        <p>
                            High School 2014 - 2020
                        </p>
                        <ul>
                            <li>Bannongka School</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="about-me">
                <h3>about me</h3>
                <ul style="list-style-type: none;">
                    <li>I am a passionate and self-motivated individual who enjoys programming and problem-solving. I
                        have experience in web application development and have worked with various programming
                        languages, including HTML, CSS, JavaScript, React, Node.js, Python, and PHP.</li>
                </ul>
            </div>
            <div class="project">
                <h3>project</h3>
                <ul style="list-style-type: none;">
                    <li>
                        <p>Science Clinic - Web Application</p>
                        <ul>
                            <li>
                                <span>
                                    Developed a web application called "Science Clinic" using React, HTML,
                                    CSS, JavaScript, and connected it to a RESTful API through node.js and
                                    Express.
                                </span>
                            </li>
                            <li>
                                <span>
                                    Integrated MySQL database to store the user's data
                                </span>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <p>Food Shop - Desktop Application</p>
                        <ul>
                            <li>
                                <span>
                                    Created a desktop application using Python tkinter to manage the food
                                    shop.
                                </span>
                            </li>
                            <li>
                                <span>
                                    Used MySQL to store and manage the product's data.
                                </span>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <p>Thai Tourism Website - Web Application</p>
                        <ul>
                            <li>
                                <span>
                                    Developed a web application in PHP that simulates the Thai tourism
                                    website
                                </span>
                            </li>
                            <li>
                                <span>
                                    Used Bootstrap to enhance the design of the website.
                                </span>
                            </li>
                        </ul>
                    </li>
                </ul>
                <span>
                    I am excited to continue expanding my knowledge and skills in programming
                    and am eager to take on new challenges and projects.
                </span>
            </div>
        </div>
    </div>
</div>